*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/linkdata/package_com.oguzhan.shared/0_shared.knm
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/linkdata/package_com.oguzhan.shared/1_shared.knm
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/linkdata/package_com.oguzhan.shared/2_shared.knm
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/ir/bodies.knb
/cryptoTracker/cryptoTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/ir/debugInfo.knd
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/ir/files.knf
/shared/build/bin/iosSimulatorArm64/debugFramework/sharedKit.framework/Info.plist
/shared/build/bin/iosSimulatorArm64/debugFramework/sharedKit.framework.dSYM/Contents/Info.plist
/shared/build/xcode-frameworks/Debug/iphonesimulator18.2/sharedKit.framework/Info.plist
/shared/build/xcode-frameworks/Debug/iphonesimulator18.2/sharedKit.framework.dSYM/Contents/Info.plist
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/ir/irDeclarations.knd
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/manifest
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/linkdata/module
/shared/build/bin/iosSimulatorArm64/debugFramework/sharedKit.framework/Modules/module.modulemap
/shared/build/xcode-frameworks/Debug/iphonesimulator18.2/sharedKit.framework/Modules/module.modulemap
/cryptoTracker/cryptoTracker.xcodeproj/project.pbxproj
/shared/build/bin/iosSimulatorArm64/debugFramework/sharedKit.framework/sharedKit
/shared/build/bin/iosSimulatorArm64/debugFramework/sharedKit.framework.dSYM/Contents/Resources/DWARF/sharedKit
/shared/build/xcode-frameworks/Debug/iphonesimulator18.2/sharedKit.framework/sharedKit
/shared/build/xcode-frameworks/Debug/iphonesimulator18.2/sharedKit.framework.dSYM/Contents/Resources/DWARF/sharedKit
/shared/build/bin/iosSimulatorArm64/debugFramework/sharedKit.framework/Headers/sharedKit.h
/shared/build/xcode-frameworks/Debug/iphonesimulator18.2/sharedKit.framework/Headers/sharedKit.h
/shared/build/bin/iosSimulatorArm64/debugFramework/sharedKit.framework.dSYM/Contents/Resources/Relocations/aarch64/sharedKit.yml
/shared/build/xcode-frameworks/Debug/iphonesimulator18.2/sharedKit.framework.dSYM/Contents/Resources/Relocations/aarch64/sharedKit.yml
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/ir/signatures.knt
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/ir/strings.knt
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/shared/default/ir/types.knt
/cryptoTracker/cryptoTracker.xcodeproj/project.xcworkspace/xcuserdata/ocetin14.xcuserdatad/UserInterfaceState.xcuserstate
